.container {
  overflow-y: scroll;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.pane {
  scroll-snap-align: start;
  min-height: 100vh;
}
